@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
.container-authpage{
    width: 65vw;
    margin:80px auto;
    background-color: #5865f2;
    color: white;
    height:65vh;
    display: flex;
    flex-direction:horizontal;
    font-family:'Rubik',Monospace;
    border-radius:10px;
   
    
}
.container-authpage-desc{
    
    width:65%;
    position: relative;
    background-color:#5865f2;

    font-family:'Rubik',Monospace ;
    
    border-radius:10px;
   
}
.container-authpage-desc h5{
    color:#000;
}
.desc-container{

    position: absolute;
    margin-right: 50px;
    margin-left:20px;
    font-size:2.5rem;
    
    font-family:'Rubik',Monospace ;
    
}

.container-authpage-cta{
    border-radius:10px;
    width:35%;
    align-self:center;
    align-content:center;
    position:relative;
    align-items: center;
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:white;
    
    
}

.button-cta{
    padding: 0px;
    width:80%;
    margin:5px;
    background-color:black;
    font-family: 'Rubik', sans-serif;
    border-radius:5px;
    color: white;
    height:fixed;
    border:none;
    font-size:2.1rem;
    
    transition: ease-in 0.2s;
    outline: none;
    
   
}
.button-cta:hover{
    background-color:#5865f2;
    color:#000;
    transform:scale(1.05);
}
.buttons{
    position:absolute;
    color: black;
    top: 25%;
    width: 80%;
    display: flex;
    flex-direction:column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    

   
}
button h4{
    font-size: 0.5em;
    font-weight:bold;
    font-family: 'Rubik',Monospace;
    margin:10%;
    letter-spacing:2px;
}
