@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
.container-authpage{
    width: 65vw;
    margin:80px auto 0;
    background-color: #5865f2;
    color: white;
    height:65vh;
    display: flex;
    box-sizing: content-box;
    font-family:'Rubik',Monospace;
    border-radius:10px;
    position: inherit;
    
}
.container-authpage-desc{
    
    width:65%;
    
    background-color:#5865f2;
    height:100%;
    font-family:'Rubik',Monospace ;
    
    border-radius:10px;
    position: inherit;
}

.desc-container{
   
    
    margin-right: 50px;
    margin-left:0px;
    font-size:2.5rem;
    width:100%;
    max-height:inherit;
    font-family:'Rubik',Monospace ;

    
}

.container-authpage-cta{
    border-radius:10px;
    min-width:35%;
    background-color:white;
    
    height:100%;
    
    position:relative;
    
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    
    
}

.button-cta{
    padding: 0px;
    width:80%;
    margin:5px;
    background-color:black;
    font-family: 'Rubik', sans-serif;
    border-radius:5px;
    color: white;
    height:fixed;
    border:none;
    font-size:2.1rem;
    
    transition: ease-in 0.2s;
    outline: none;
    
   
}
.button-cta:hover{
    background-color:#5865f2;
    color:#000;
    transform:scale(1.05);
}
.buttons{
    position:relative;
    color: black;
    
    width: 80%;
    display: flex;
    flex-direction:column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    

   
}
button h4{
    font-size: 0.5em;
    font-weight:bold;
    font-family: 'Rubik',Monospace;
    margin:10%;
    letter-spacing:2px;
}

@media only screen and (max-width: 850px) {
   
    .container-authpage{
       height:min-content;
       display:list-item;
       width:80%;
       margin: auto;
       padding:0 20px 40px;
    }
    .container-authpage-desc{
        width:100%;
        margin: auto;
       
    }
    .container-authpage-cta{
        
        height:50%;
        width:90%;
        margin: auto;
    }
    .desc-container{
        margin: auto;
        text-align: center;
        
    }
    .buttons{
        padding:20px 0;
    }
}